<h1>EasyCaptcha Example</h1>

<ul>
  <li><%= link_to "Devise registration example with Captcha", :new_user_registration %></li>
  <li><%= link_to "Simple form with Captcha", :simple_form %></li>
  <li><%= link_to "ActiveModel with Captcha", :tableless_model %></li>
</ul>